body{
    background-color: bisque; 
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
}
header>img{
    width: 50%;
    /*max-width: 800px;
    min-width: 700px*/
}
nav{
    background-color: gray;
    padding: 5px;
    margin: 10px;
}
nav img{
    height: 40px;
}
nav a{
color:white
}

main p{
    text-align: justify;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 5px;
    margin: 10px;
}